 
/****** Object:  StoredProcedure [dbo].[usp_COSTING_INJ_PRODUCTION_ANALYSIS_PRESS]    Script Date: 02-Mar-20 9:45:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		 <SSD.N>
-- Create date: <24/10/2012>,<19-apr-2018>
-- Description:	<Store แสดงรายการ Production Analysis ของ INJECTION>
--- SSD.J MODIFY 8/DEC/2012 เพื่อเพิ่มส่วนที่ไม่มีใน Price List
-- =============================================
--exec usp_COSTING_INJ_PRODUCTION_ANALYSIS_PRESS 2018,12,41

ALTER PROCEDURE [dbo].[usp_COSTING_INJ_PRODUCTION_ANALYSIS_PRESS]
	-- Add the parameters for the stored procedure here
	@DYEAR SMALLINT ,--= 2012,
	@DMONTH TINYINT , --= 4
	@SECTIONID INTEGER
	--,@LEVEL TINYINT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

--DECLARE @DYEAR SMALLINT = 2012, 
--		@DMONTH TINYINT = 7,  
--		@SECTIONID INTEGER = 41

DECLARE @PRV_YEAR SMALLINT = @DYEAR
DECLARE @PRV_MONTH TINYINT = @DMONTH - 1
DECLARE @PROCESS INT = @SECTIONID -- 41 = PRESS

	IF @DMONTH = 1 
		BEGIN
			SET @PRV_YEAR = @DYEAR - 1
			SET @PRV_MONTH =  12
		END
	ELSE
		BEGIN
			SET @PRV_YEAR = @DYEAR 
			SET @PRV_MONTH =  @DMONTH - 1
		END 


DECLARE @FGTYPEID	VARCHAR(50) --**NEW 8/DEC/2012 ใช้สำหรับส่วน Check Stock Monthly Shipping ของแต่ละ Section
SET @FGTYPEID = 'FG_PR'
-- ประเภท [INJ_MST_SHIPPING_FG_TYPE] ---
	--FGTYPEID :	FG_TYPENAME
	--FG_AS	FINISH GOODS ASSY
	--FG_JB	FINISH GOODS JB
	--FG_PL	FINISH GOODS PLASTIC
	--FG_PR	FINISH GOODS PRESS
	--FG_RB	FINISH GOODS RUBBER
		
DECLARE @Approve INT = 0
	SELECT @Approve = SUM(ISNULL(Approve,0)) 
	FROM COSTING_INJ_PRODUCTION_ANALYSIS_PRESS 
	WHERE DYEAR = @DYEAR AND DMONTH = @DMONTH AND Approve = 1 AND SECTIONID = @SECTIONID 
	
	IF @Approve = 0 OR @Approve IS NULL
	BEGIN
		DELETE FROM dbo.COSTING_INJ_PRODUCTION_ANALYSIS_PRESS 
		WHERE DYEAR = @DYEAR AND DMONTH = @DMONTH AND SECTIONID = @SECTIONID 

----------------- Begin : Declare Temp Table -----------------


	 
--Generated by Smart Suite Development : 06-Mar-19 2:41:20 PM
DECLARE @Report  AS TABLE ( 
SECTIONID INT,
SECTION_NAME VARCHAR(50),
DYEAR SMALLINT,
DMONTH TINYINT,
PART_TYPE VARCHAR(3),
HEADER4 VARCHAR(50),
HEADER3 VARCHAR(50),
HEADER2 VARCHAR(50),
HEADER1 VARCHAR(50),
PART_NO VARCHAR(30),
[DESCRIPTION] VARCHAR(50),
UNIT VARCHAR(10),
WEIGHT_NET_WEIGHTG_PCS DECIMAL(24,3),
WEIGHT_GROSS_WEIGHTG_PCS DECIMAL(24,3),
WEIGHT_RECOVERY_WEIGHTG_PCS DECIMAL(24,3),
MATERIAL_COST_EXP_BAHT_PCS DECIMAL(24,3),
MATERIAL_COST_DOM_BAHT_PCS DECIMAL(24,3),
MATERIAL_COST_IMPORT_TAX_BAHT_PCS DECIMAL(24,3),
MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS DECIMAL(24,3),
PROCESS_COST_MC_TON DECIMAL(24,3),
PROCESS_COST_BAHT_PCS DECIMAL(24,3),
ADMIN_COST_BAHT_PCS DECIMAL(24,3),
ADJUST_EXP_BAHT_PCS DECIMAL(24,3),
ADJUST_DOM_BAHT_PCS DECIMAL(24,3),
PROFIT_EXP_BAHT_PCS DECIMAL(24,3),
PROFIT_DOM_BAHT_PCS DECIMAL(24,3),
AMORITIZATION_COST_BAHT_PCS DECIMAL(24,3),
FACTORY_COST_EXP DECIMAL(24,3),
FACTORY_COST_DOM DECIMAL(24,3),
BEGINNING_STOCK_QTY_PCS DECIMAL(24,3),
BEGINNING_STOCK_NET_WEIGHT_KG DECIMAL(24,3),
BEGINNING_STOCK_GROSS_WEIGHT_KG DECIMAL(24,3),
BEGINNING_STOCK_DIRECT_MAT_BAHT DECIMAL(24,3),
BEGINNING_STOCK_INDIRECT_MAT_BAHT DECIMAL(24,3),
BEGINNING_STOCK_ADMIN_COST_BAHT DECIMAL(24,3),
BEGINNING_STOCK_AMORTIZATION_COST_BAHT DECIMAL(24,3),
BEGINNING_STOCK_AMOUNT_BAHT DECIMAL(24,3),
ENDING_STOCK_QTY_PCS DECIMAL(24,3),
ENDING_STOCK_NET_WEIGHT_KG DECIMAL(24,3),
ENDING_STOCK_GROSS_WEIGHT_KG DECIMAL(24,3),
ENDING_STOCK_DIRECT_MAT_BAHT DECIMAL(24,3),
ENDING_STOCK_INDIRECT_MAT_BAHT DECIMAL(24,3),
ENDING_STOCK_ADMIN_COST_BAHT DECIMAL(24,3),
ENDING_STOCK_AMORTIZATION_COST_BAHT DECIMAL(24,3),
ENDING_STOCK_AMOUNT_BAHT DECIMAL(24,3),
ISSUED_QTY_DIRECT_EXP DECIMAL(24,3),
ISSUED_QTY_EXP DECIMAL(24,3),
ISSUED_QTY_DOM DECIMAL(24,3),
ISSUED_QTY_TOTAL DECIMAL(24,3),
ISSUED_NET_WEIGHT_KG DECIMAL(24,3),
ISSUED_GROSS_WEIGHT_KG DECIMAL(24,3),
ISSUED_DIRECT_MAT_BAHT DECIMAL(24,3),
ISSUED_IMPORT_TAX_BAHT DECIMAL(24,3),
ISSUED_INDIRECT_MAT_BAHT DECIMAL(24,3),
ISSUED_ADMIN_COST_BAHT DECIMAL(24,3),
ISSUED_AMORTIZATION_COST_BAHT DECIMAL(24,3),
ISSUED_AMOUNT_BAHT DECIMAL(24,3),
PRODUCTION_QTY_PCS DECIMAL(24,3),
PRODUCTION_NET_WEIGHT_KG DECIMAL(24,3),
PRODUCTION_GROSS_WEIGHT_KG DECIMAL(24,3),
PRODUCTION_RECOVERY_WEIGHT_KG DECIMAL(24,3),
PRODUCTION_DIRECT_MATERIAL_COST_BAHT DECIMAL(24,3),
PRODUCTION_DIRECT_MATERIAL_COST_RATIO DECIMAL(24,3),
PRODUCTION_IMPORT_TAX_AMOUNT_THB DECIMAL(24,3),
PRODUCTION_INDIRECT_MATERIAL_COST_BATH DECIMAL(24,3),
PRODUCTION_INDIRECT_MATERIAL_COST_RATIO DECIMAL(24,3),
PRODUCTION_TOTAL_MATERIAL_AMOUNT_BATH DECIMAL(24,3),
PRODUCTION_TOTAL_MATERIAL_BAHT DECIMAL(24,3),
PRODUCTION_TOTAL_MATERIAL_RATIO DECIMAL(24,3),
PRODUCTION_AMORTIZATION_COST_AMOUNT_BAHT DECIMAL(24,3),
PRODUCTION_PRODUCTION_AMOUNT_BAHT DECIMAL(24,3),
SYS_IS_SAME_PART_NO BIT  --ตรวจสอบเบอร์เหมือนกันกับ WIP & FG หรือไม่
) 

	-------------------- END : DECLARE TEMP TABLE -------------------- 

	
------------ INSERT MASTER DATA FROM INJ_MST_WIP_PRICE_PRESS----------------

	INSERT INTO @Report ( 
	SECTIONID,
	DYEAR,
	DMONTH,
	PART_TYPE,
	HEADER1,
     PART_NO	,
DESCRIPTION	,
UNIT	,
WEIGHT_NET_WEIGHTG_PCS	,
WEIGHT_GROSS_WEIGHTG_PCS	,
WEIGHT_RECOVERY_WEIGHTG_PCS	,
MATERIAL_COST_EXP_BAHT_PCS	,
MATERIAL_COST_DOM_BAHT_PCS	,
MATERIAL_COST_IMPORT_TAX_BAHT_PCS	,
MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS	,
PROCESS_COST_MC_TON	,
PROCESS_COST_BAHT_PCS	,
ADMIN_COST_BAHT_PCS	,
ADJUST_EXP_BAHT_PCS	,
ADJUST_DOM_BAHT_PCS	,
PROFIT_EXP_BAHT_PCS	,
PROFIT_DOM_BAHT_PCS	,
AMORITIZATION_COST_BAHT_PCS	,
SYS_IS_SAME_PART_NO
	)
	SELECT 
	@SECTIONID,
	@DYEAR,
	@DMONTH,
	PART_TYPE,
	CASE PART_TYPE WHEN 'W' THEN '1. WORK IN PROCESS' ELSE '2. FINISHED GOODS' END AS HEADER1,
     PART_NO	,
DESCRIPTION	,
UNIT	,
ISNULL(WEIGHT_NET_WEIGHTG_PCS,0)
,ISNULL(WEIGHT_GROSS_WEIGHTG_PCS,0)
,ISNULL(WEIGHT_RECOVERY_WEIGHTG_PCS,0)
,ISNULL(MATERIAL_COST_EXP_BAHT_PCS,0)
,ISNULL(MATERIAL_COST_DOM_BAHT_PCS,0)
,ISNULL(MATERIAL_COST_IMPORT_TAX_BAHT_PCS,0)
,ISNULL(MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS,0)
,ISNULL(PROCESS_COST_MC_TON,0)
,ISNULL(PROCESS_COST_BAHT_PCS,0)
,ISNULL(ADMIN_COST_BAHT_PCS,0)
,ISNULL(ADJUST_EXP_BAHT_PCS,0)
,ISNULL(ADJUST_DOM_BAHT_PCS,0)
,ISNULL(PROFIT_EXP_BAHT_PCS,0)
,ISNULL(PROFIT_DOM_BAHT_PCS,0)
,ISNULL(AMORITIZATION_COST_BAHT_PCS,0)
,0 --SYS_IS_SAME_PART_NO
  FROM [INJ_MST_WIP_PRICE_PRESS]
	--WHERE SECTION_ID = 39 AND DYEAR = 2012 AND DMONTH  = 6 
	WHERE SECTIONID = @SECTIONID AND DYEAR = @DYEAR AND DMONTH  = @DMONTH 

---- ตรวจสอบเบอร์เหมือน -----------------
;WITH SAME_PARTNO_TABLE(
PART_NO
) AS (SELECT PART_NO FROM @Report WHERE PART_TYPE='W')

UPDATE R 
SET
SYS_IS_SAME_PART_NO = 1
FROM @Report R
INNER JOIN SAME_PARTNO_TABLE S
ON R.PART_NO = S.PART_NO
WHERE R.PART_TYPE='F'


----------- END : INSERT MASTER DATA FROM  INJ_MST_WIP_PRICE ----------

--UPDATE FACTORY_COST_EXP -- 8+11+13+14+19+15
UPDATE @Report
SET FACTORY_COST_EXP =	ISNULL(MATERIAL_COST_EXP_BAHT_PCS,0) + 
						ISNULL(MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS,0) + ISNULL(PROCESS_COST_BAHT_PCS,0) +
						ISNULL(ADMIN_COST_BAHT_PCS,0) + ISNULL(AMORITIZATION_COST_BAHT_PCS,0) + 
						ISNULL(ADJUST_EXP_BAHT_PCS,0)

--UPDATE FACTORY_COST_DOM -- 9+10+11+13+14+19+16
UPDATE @Report
SET FACTORY_COST_DOM =  ISNULL(MATERIAL_COST_DOM_BAHT_PCS,0) + ISNULL(MATERIAL_COST_IMPORT_TAX_BAHT_PCS,0) +
						ISNULL(MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS,0) + ISNULL(PROCESS_COST_BAHT_PCS,0) + 
						ISNULL(ADMIN_COST_BAHT_PCS,0) + ISNULL(AMORITIZATION_COST_BAHT_PCS,0) + 
						ISNULL(ADJUST_DOM_BAHT_PCS,0)

--------------------------------------------------BEGINNING---------------------------------------------------
--BEGINNING_STOCK_QTY_PCS -- Get PRV MONTH

--Generated by Smart Suite Development : 06-Mar-19 3:57:09 PM
DECLARE @PRV_COSTING_INJ_PRODUCTION_ANALYSIS_PRESS  AS TABLE (HEADER1 VARCHAR(50),
PART_NO VARCHAR(30),
ENDING_STOCK_QTY_PCS DECIMAL(24,3))
INSERT INTO @PRV_COSTING_INJ_PRODUCTION_ANALYSIS_PRESS
SELECT HEADER1,PART_NO,ENDING_STOCK_QTY_PCS 
FROM COSTING_INJ_PRODUCTION_ANALYSIS_PRESS
WHERE DYEAR=@PRV_YEAR AND DMONTH = @PRV_MONTH 
AND SECTIONID=@SECTIONID

UPDATE R 
SET R.BEGINNING_STOCK_QTY_PCS = ISNULL(p.ENDING_STOCK_QTY_PCS,0)
FROM @Report R LEFT OUTER JOIN 
@PRV_COSTING_INJ_PRODUCTION_ANALYSIS_PRESS P
ON R.HEADER1 = P.HEADER1 AND R.PART_NO = P.PART_NO
 

--NET  WEIGHT (KG)	22*5/1000 = (BEGINNING_STOCK_QTY_PCS * WEIGHT_NET_WEIGHTG_PCS) / 1000
UPDATE R
SET R.BEGINNING_STOCK_NET_WEIGHT_KG = (R.BEGINNING_STOCK_QTY_PCS * R.WEIGHT_NET_WEIGHTG_PCS) / 1000
FROM @Report R
--GROSS  WEIGHT (KG) 22*6/1000  = (BEGINNING_STOCK_NET_WEIGHT_KG * WEIGHT_GROSS_WEIGHTG_PCS) / 1000
UPDATE R
SET R.BEGINNING_STOCK_GROSS_WEIGHT_KG = R.BEGINNING_STOCK_QTY_PCS * R.WEIGHT_GROSS_WEIGHTG_PCS / 1000
FROM @Report R

--BEGINNING_STOCK_DIRECT_MAT_BAHT 22*8 = BEGINNING_STOCK_QTY_PCS * MATERIAL_COST_EXP_BAHT_PCS
--BEGINNING_STOCK_ADMIN_COST_BAHT 22*14 = BEGINNING_STOCK_QTY_PCS * ADMIN_COST_BAHT_PCS
--BEGINNING_STOCK_AMORTIZATION_COST_BAHT 22*19 = BEGINNING_STOCK_QTY_PCS * AMORITIZATION_COST_BAHT_PCS
--BEGINNING_STOCK_AMOUNT_BAHT 22*20 = BEGINNING_STOCK_QTY_PCS * BEGINNING_STOCK_QTY_PCS
UPDATE R
SET
R.BEGINNING_STOCK_DIRECT_MAT_BAHT = BEGINNING_STOCK_QTY_PCS * MATERIAL_COST_EXP_BAHT_PCS,
R.BEGINNING_STOCK_ADMIN_COST_BAHT = BEGINNING_STOCK_QTY_PCS * ADMIN_COST_BAHT_PCS,
R.BEGINNING_STOCK_AMORTIZATION_COST_BAHT = BEGINNING_STOCK_QTY_PCS * AMORITIZATION_COST_BAHT_PCS,
R.BEGINNING_STOCK_AMOUNT_BAHT = BEGINNING_STOCK_QTY_PCS * FACTORY_COST_EXP /* 22*20 */
FROM @Report R
--BEGINNING_STOCK_INDIRECT_MAT_BAHT แยกส่วน WIP & FG
--WIP = 23*13 = BEGINNING_STOCK_NET_WEIGHT_KG * PROCESS_COST_BAHT_PCS
--FG = 22*11 = BEGINNING_STOCK_QTY_PCS * MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS
--UPDATE R
--SET 
--R.BEGINNING_STOCK_INDIRECT_MAT_BAHT = CASE R.HEADER1 
--											WHEN '1. WORK IN PROCESS' THEN
--												BEGINNING_STOCK_NET_WEIGHT_KG * PROCESS_COST_BAHT_PCS
--											ELSE
--											BEGINNING_STOCK_QTY_PCS * MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS
--											END
--FROM @Report R
--05-Ma-2020 แก้จากน้องพร  22 * 11 ทั้ง WIP & FG
UPDATE R
SET 
R.BEGINNING_STOCK_INDIRECT_MAT_BAHT = BEGINNING_STOCK_QTY_PCS * MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS
FROM @Report R
----------------------------------ENDING-------------------------------------------------------------------
--ENDING_STOCK_QTY_PCS
UPDATE R
SET
R.ENDING_STOCK_QTY_PCS = ISNULL(D.TOTAL,0)
FROM @Report R
LEFT OUTER JOIN
(
	SELECT [PART NO./KIND] AS PART_NO,SUM(TOTAL) AS TOTAL 
	FROM DYN_INJECTION_PRESS
	WHERE PROCESS = @PROCESS
	AND DYEAR=@DYEAR AND DMONTH=@DMONTH
	GROUP BY [PART NO./KIND]
) D
ON R.PART_NO = D.PART_NO
WHERE R.PART_TYPE = 'W'
--ENDING_STOCK_QTY_PCS
UPDATE R
SET
R.ENDING_STOCK_QTY_PCS = ISNULL(D.TOTAL,0)
FROM @Report R
LEFT OUTER JOIN
(
	SELECT PART_NO,SUM(STOCKENDING) AS TOTAL 
	FROM INJ_SHIPPING_FG_CHECK_STOCK
	WHERE 
	--SECTIONID=@SECTIONID AND --SSD.N : Requested by N'Pron 02-Mar-2020 ไม่ต้อง WHERE SECTIONID เพราะ PartNo ไม่ซ้ำกันอยู่แล้ว
	PARTTYPE='F'
	AND DYEAR=@DYEAR AND DMONTH=@DMONTH
	GROUP BY PART_NO
) D
ON R.PART_NO = D.PART_NO
WHERE R.PART_TYPE = 'F'

--ENDING_STOCK_NET_WEIGHT_KG 30*5/1000 = (ENDING_STOCK_QTY_PCS * WEIGHT_NET_WEIGHTG_PCS) / 1000
--ENDING_STOCK_GROSS_WEIGHT_KG 30*6/1000 = (ENDING_STOCK_QTY_PCS * WEIGHT_GROSS_WEIGHTG_PCS) / 1000
--ENDING_STOCK_DIRECT_MAT_BAHT 30*8= ENDING_STOCK_QTY_PCS * MATERIAL_COST_EXP_BAHT_PCS
--ENDING_STOCK_INDIRECT_MAT_BAHT 30*11 = ENDING_STOCK_QTY_PCS * MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS 
--ENDING_STOCK_ADMIN_COST_BAHT 30*14 = ENDING_STOCK_QTY_PCS * ADMIN_COST_BAHT_PCS
--ENDING_STOCK_AMORTIZATION_COST_BAHT 30*19 = ENDING_STOCK_QTY_PCS * AMORITIZATION_COST_BAHT_PCS

UPDATE R
SET
R.ENDING_STOCK_NET_WEIGHT_KG = (ENDING_STOCK_QTY_PCS * WEIGHT_NET_WEIGHTG_PCS) / 1000,
R.ENDING_STOCK_GROSS_WEIGHT_KG = (ENDING_STOCK_QTY_PCS * WEIGHT_GROSS_WEIGHTG_PCS) / 1000,
R.ENDING_STOCK_DIRECT_MAT_BAHT = ENDING_STOCK_QTY_PCS * MATERIAL_COST_EXP_BAHT_PCS,
R.ENDING_STOCK_INDIRECT_MAT_BAHT = ENDING_STOCK_QTY_PCS * MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS,
R.ENDING_STOCK_ADMIN_COST_BAHT = ENDING_STOCK_QTY_PCS * ADMIN_COST_BAHT_PCS,
R.ENDING_STOCK_AMORTIZATION_COST_BAHT = ENDING_STOCK_QTY_PCS * AMORITIZATION_COST_BAHT_PCS
FROM @Report R

--ENDING_STOCK_AMOUNT_BAHT 
--WIP = 32*20 = ENDING_STOCK_GROSS_WEIGHT_KG * FACTORY_COST_EXP
--FG  => DOM = 30*21 = ENDING_STOCK_QTY_PCS * FACTORY_COST_DOM
--	  => EXP = 30*20 = ENDING_STOCK_QTY_PCS * FACTORY_COST_EXP
UPDATE R
SET
R.ENDING_STOCK_AMOUNT_BAHT = CASE  
								WHEN PART_TYPE = 'W' THEN
									ENDING_STOCK_GROSS_WEIGHT_KG * FACTORY_COST_EXP
								WHEN PART_TYPE = 'F' THEN --DOM TODO: ยังตอบไม่ได้
									ENDING_STOCK_QTY_PCS * FACTORY_COST_DOM
								ELSE --EXPORT
									ENDING_STOCK_QTY_PCS * FACTORY_COST_EXP
								END
FROM @Report R 

--------------------------------------------------------ISSUE ---------------------------------------

/*มีเฉพาะ FG ส่วน WIP ไม่มี */

UPDATE R
SET
R.ISSUED_QTY_DIRECT_EXP = 0,
R.ISSUED_QTY_EXP = 0,
R.ISSUED_QTY_DOM = 0,
R.ISSUED_QTY_TOTAL = 0
FROM @Report R
--ISSUED_QTY_DIRECT_EXP "ได้ข้อมูลมาจาก Shippingเอาข้อมูลใน Sheet Direct Exp. Column CPSPNQ มาแสดง"
--ISSUED_QTY_EXP "ได้ข้อมูลมาจาก Shippingเอาข้อมูลใน Sheet Tap-Exp.Column CPSPNQ มาแสดง"
--ISSUED_QTY_DOM "ได้ข้อมูลมาจาก Shippingเอาข้อมูลใน Sheet DOM.Column CPSPNQ มาแสดง"
--TODO: ทำอย่างไร
		Update @Report
		set ISSUED_QTY_DIRECT_EXP = dbo.fn_GetINJ_SHIPPING_ISSUE (DYEAR,DMONTH,PART_NO,'DX') -- DX = DIRECT EXPORT
			,ISSUED_QTY_EXP = dbo.fn_GetINJ_SHIPPING_ISSUE (DYEAR,DMONTH,PART_NO,'TX')--TAP EXPORT
			,ISSUED_QTY_DOM = dbo.fn_GetINJ_SHIPPING_ISSUE (DYEAR,DMONTH,PART_NO,'D')--DOMESTIC
		WHERE PART_TYPE = 'F'

--ISSUED_QTY_TOTAL 38+39+40 = R.ISSUED_QTY_DIRECT_EXP + R.ISSUED_QTY_EXP + R.ISSUED_QTY_DOM 
UPDATE R
SET
R.ISSUED_QTY_TOTAL = R.ISSUED_QTY_DIRECT_EXP + R.ISSUED_QTY_EXP + R.ISSUED_QTY_DOM 
FROM @Report R
WHERE PART_TYPE='F'
--ISSUED_NET_WEIGHT_KG (41*5)/1000 = (ISSUED_QTY_TOTAL * WEIGHT_NET_WEIGHTG_PCS) / 1000
--ISSUED_GROSS_WEIGHT_KG (41*6)/1000 = (ISSUED_QTY_TOTAL * WEIGHT_GROSS_WEIGHTG_PCS) / 1000
UPDATE @Report
SET ISSUED_NET_WEIGHT_KG = (ISSUED_QTY_TOTAL * WEIGHT_NET_WEIGHTG_PCS) / 1000,
ISSUED_GROSS_WEIGHT_KG= (ISSUED_QTY_TOTAL * WEIGHT_GROSS_WEIGHTG_PCS) / 1000
WHERE PART_TYPE='F'

-- ISSUE ISSUED_DIRECT_MAT_BAHT WIP 41*8
UPDATE @Report
SET
ISSUED_DIRECT_MAT_BAHT = ISSUED_QTY_TOTAL * MATERIAL_COST_EXP_BAHT_PCS 
WHERE PART_TYPE='W'
-- ISSUE ISSUED_DIRECT_MAT_BAHT FG (38*8)+(39*8)+(40*9)

UPDATE @Report
SET 
ISSUED_DIRECT_MAT_BAHT = (ISSUED_QTY_DIRECT_EXP * MATERIAL_COST_DOM_BAHT_PCS) + (ISSUED_QTY_EXP * MATERIAL_COST_DOM_BAHT_PCS) + (ISSUED_QTY_DOM * MATERIAL_COST_DOM_BAHT_PCS)
WHERE PART_TYPE='F'


--ISSUE   ทั้ง WIP & FG ใช้สูตรเดียวกัน
/*
ISSUED_QTY_TOTAL = (41)
MATERIAL_COST_IMPORT_TAX_BAHT_PCS = (10)
MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS = (11)
ADMIN_COST_BAHT_PCS = (14)
AMORITIZATION_COST_BAHT_PCS = (19)
FACTORY_COST_EXP = (20)

*/
UPDATE @Report
SET
ISSUED_IMPORT_TAX_BAHT = ISSUED_QTY_TOTAL * MATERIAL_COST_IMPORT_TAX_BAHT_PCS,
ISSUED_INDIRECT_MAT_BAHT = ISSUED_QTY_TOTAL * MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS,
ISSUED_ADMIN_COST_BAHT =  ISSUED_QTY_TOTAL * ADMIN_COST_BAHT_PCS,
ISSUED_AMORTIZATION_COST_BAHT = ISSUED_QTY_TOTAL * AMORITIZATION_COST_BAHT_PCS,
ISSUED_AMOUNT_BAHT = ISSUED_QTY_TOTAL * FACTORY_COST_EXP -- เฉพาะ WIP
--ISSUED_AMOUNT_BAHT  FG  ((38+39)*(20)+(40*21)
UPDATE @Report
SET
ISSUED_AMOUNT_BAHT = (ISSUED_QTY_DIRECT_EXP + ISSUED_QTY_EXP) * (FACTORY_COST_EXP) + (ISSUED_QTY_DOM * FACTORY_COST_DOM)
WHERE PART_TYPE='F'

------------PRODUCTION ------------------------
/*


*/

--PRODUCTION TOTAL
UPDATE @Report
SET
PRODUCTION_PRODUCTION_AMOUNT_BAHT = ISSUED_AMOUNT_BAHT + ENDING_STOCK_AMOUNT_BAHT - BEGINNING_STOCK_AMOUNT_BAHT --49+37-29

--UPDATE @Report
--SET
--PRODUCTION_QTY_PCS = ENDING_STOCK_GROSS_WEIGHT_KG + ISSUED_IMPORT_TAX_BAHT - ENDING_STOCK_GROSS_WEIGHT_KG, --32+45-23
--PRODUCTION_NET_WEIGHT_KG = ENDING_STOCK_NET_WEIGHT_KG + ISSUED_NET_WEIGHT_KG - ENDING_STOCK_GROSS_WEIGHT_KG, --31+42-23
--PRODUCTION_GROSS_WEIGHT_KG = ENDING_STOCK_GROSS_WEIGHT_KG + ISSUED_GROSS_WEIGHT_KG - BEGINNING_STOCK_GROSS_WEIGHT_KG, --32+43-24
--PRODUCTION_RECOVERY_WEIGHT_KG = (PRODUCTION_QTY_PCS * WEIGHT_RECOVERY_WEIGHTG_PCS) / 1000, --(50*7)/1000
--PRODUCTION_DIRECT_MATERIAL_COST_BAHT = ENDING_STOCK_DIRECT_MAT_BAHT + ISSUED_DIRECT_MAT_BAHT - BEGINNING_STOCK_DIRECT_MAT_BAHT , --33+44-25
--PRODUCTION_DIRECT_MATERIAL_COST_RATIO = (PRODUCTION_DIRECT_MATERIAL_COST_BAHT / PRODUCTION_PRODUCTION_AMOUNT_BAHT) * 100,  -- (54/63)*100
--PRODUCTION_IMPORT_TAX_AMOUNT_THB = ISSUED_IMPORT_TAX_BAHT , -- 45
--PRODUCTION_INDIRECT_MATERIAL_COST_BATH = ENDING_STOCK_INDIRECT_MAT_BAHT + ISSUED_INDIRECT_MAT_BAHT - BEGINNING_STOCK_INDIRECT_MAT_BAHT , --34+46-26
--PRODUCTION_INDIRECT_MATERIAL_COST_RATIO = PRODUCTION_INDIRECT_MATERIAL_COST_BATH / PRODUCTION_PRODUCTION_AMOUNT_BAHT * 100 , --(57/63)*100
--PRODUCTION_TOTAL_MATERIAL_AMOUNT_BATH = PRODUCTION_DIRECT_MATERIAL_COST_BAHT + PRODUCTION_INDIRECT_MATERIAL_COST_BATH , --54+57
--PRODUCTION_TOTAL_MATERIAL_BAHT = PRODUCTION_PRODUCTION_AMOUNT_BAHT / PRODUCTION_DIRECT_MATERIAL_COST_RATIO, --63/55
--PRODUCTION_TOTAL_MATERIAL_RATIO = (PRODUCTION_TOTAL_MATERIAL_AMOUNT_BATH / PRODUCTION_PRODUCTION_AMOUNT_BAHT) * 100 , -- (59/63)*100
--PRODUCTION_AMORTIZATION_COST_AMOUNT_BAHT = PRODUCTION_GROSS_WEIGHT_KG + ISSUED_QTY_DOM - ENDING_STOCK_QTY_PCS  --52+40-30


UPDATE @Report
SET
PRODUCTION_QTY_PCS = ENDING_STOCK_GROSS_WEIGHT_KG + ISSUED_IMPORT_TAX_BAHT - ENDING_STOCK_GROSS_WEIGHT_KG, --32+45-23
PRODUCTION_NET_WEIGHT_KG = ENDING_STOCK_NET_WEIGHT_KG + ISSUED_NET_WEIGHT_KG - ENDING_STOCK_GROSS_WEIGHT_KG, --31+42-23
PRODUCTION_GROSS_WEIGHT_KG = ENDING_STOCK_GROSS_WEIGHT_KG + ISSUED_GROSS_WEIGHT_KG - BEGINNING_STOCK_GROSS_WEIGHT_KG, --32+43-24
PRODUCTION_RECOVERY_WEIGHT_KG = (PRODUCTION_QTY_PCS * WEIGHT_RECOVERY_WEIGHTG_PCS) / 1000, --(50*7)/1000
PRODUCTION_DIRECT_MATERIAL_COST_BAHT = ENDING_STOCK_DIRECT_MAT_BAHT + ISSUED_DIRECT_MAT_BAHT - BEGINNING_STOCK_DIRECT_MAT_BAHT , --33+44-25 
PRODUCTION_IMPORT_TAX_AMOUNT_THB = ISSUED_IMPORT_TAX_BAHT , -- 45
PRODUCTION_INDIRECT_MATERIAL_COST_BATH = ENDING_STOCK_INDIRECT_MAT_BAHT + ISSUED_INDIRECT_MAT_BAHT - BEGINNING_STOCK_INDIRECT_MAT_BAHT , --34+46-26 
PRODUCTION_TOTAL_MATERIAL_AMOUNT_BATH = (ENDING_STOCK_DIRECT_MAT_BAHT + ISSUED_DIRECT_MAT_BAHT - BEGINNING_STOCK_DIRECT_MAT_BAHT) + (ENDING_STOCK_INDIRECT_MAT_BAHT + ISSUED_INDIRECT_MAT_BAHT - BEGINNING_STOCK_INDIRECT_MAT_BAHT), --PRODUCTION_DIRECT_MATERIAL_COST_BAHT + PRODUCTION_INDIRECT_MATERIAL_COST_BATH , --54+57
PRODUCTION_AMORTIZATION_COST_AMOUNT_BAHT = (ENDING_STOCK_GROSS_WEIGHT_KG + ISSUED_GROSS_WEIGHT_KG - BEGINNING_STOCK_GROSS_WEIGHT_KG)+ ISSUED_QTY_DOM - ENDING_STOCK_QTY_PCS --PRODUCTION_GROSS_WEIGHT_KG + ISSUED_QTY_DOM - ENDING_STOCK_QTY_PCS  --52+40-30


--PRODUCTION RATIO
UPDATE @Report
SET 
PRODUCTION_DIRECT_MATERIAL_COST_RATIO = (dbo.FixDivide(PRODUCTION_DIRECT_MATERIAL_COST_BAHT , PRODUCTION_PRODUCTION_AMOUNT_BAHT)) * 100,  -- (54/63)*100 
PRODUCTION_INDIRECT_MATERIAL_COST_RATIO = dbo.FixDivide(PRODUCTION_INDIRECT_MATERIAL_COST_BATH , PRODUCTION_PRODUCTION_AMOUNT_BAHT) * 100 , --(57/63)*100 
PRODUCTION_TOTAL_MATERIAL_RATIO = (dbo.FixDivide(PRODUCTION_TOTAL_MATERIAL_AMOUNT_BATH , PRODUCTION_PRODUCTION_AMOUNT_BAHT)) * 100  -- (59/63)*100 '
--PRODUCTION USE RATIO
UPDATE @Report
SET 
PRODUCTION_TOTAL_MATERIAL_BAHT = dbo.FixDivide(PRODUCTION_PRODUCTION_AMOUNT_BAHT , PRODUCTION_DIRECT_MATERIAL_COST_RATIO) --63/55 


--- เบอร์เดียวกันที่อยู่ในWIP  >>คิดเเหมือน COT)
UPDATE @Report
SET
PRODUCTION_QTY_PCS += PRODUCTION_DIRECT_MATERIAL_COST_BAHT,--54
PRODUCTION_NET_WEIGHT_KG += PRODUCTION_NET_WEIGHT_KG, --51
PRODUCTION_GROSS_WEIGHT_KG += PRODUCTION_GROSS_WEIGHT_KG, -- 52
PRODUCTION_TOTAL_MATERIAL_AMOUNT_BATH += PRODUCTION_IMPORT_TAX_AMOUNT_THB, --54+57+56 >> ต่างจาก WIP
PRODUCTION_AMORTIZATION_COST_AMOUNT_BAHT += PRODUCTION_PRODUCTION_AMOUNT_BAHT, --63
PRODUCTION_PRODUCTION_AMOUNT_BAHT += PRODUCTION_PRODUCTION_AMOUNT_BAHT, --63
PRODUCTION_INDIRECT_MATERIAL_COST_BATH -= PRODUCTION_INDIRECT_MATERIAL_COST_BATH -- -57
WHERE PART_TYPE='F' AND SYS_IS_SAME_PART_NO = 1
--SELECT * FROM @Report
--RETURN

--INSERT COSTING DATA
			INSERT INTO dbo.COSTING_INJ_PRODUCTION_ANALYSIS_PRESS
			SELECT				
				[SECTIONID]
      ,[SECTION_NAME]
      ,[DYEAR]
      ,[DMONTH]
      ,[HEADER4]
      ,[HEADER3]
      ,[HEADER2]
      ,[HEADER1]
      ,[PART_NO]
      ,[DESCRIPTION]
      ,[UNIT]
      ,[WEIGHT_NET_WEIGHTG_PCS]
      ,[WEIGHT_GROSS_WEIGHTG_PCS]
      ,[WEIGHT_RECOVERY_WEIGHTG_PCS]
      ,[MATERIAL_COST_EXP_BAHT_PCS]
      ,[MATERIAL_COST_DOM_BAHT_PCS]
      ,[MATERIAL_COST_IMPORT_TAX_BAHT_PCS]
      ,[MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS]
      ,[PROCESS_COST_MC_TON]
      ,[PROCESS_COST_BAHT_PCS]
      ,[ADMIN_COST_BAHT_PCS]
      ,[ADJUST_EXP_BAHT_PCS]
      ,[ADJUST_DOM_BAHT_PCS]
      ,[PROFIT_EXP_BAHT_PCS]
      ,[PROFIT_DOM_BAHT_PCS]
      ,[AMORITIZATION_COST_BAHT_PCS]
      ,[FACTORY_COST_EXP]
      ,[FACTORY_COST_DOM]
      ,[BEGINNING_STOCK_QTY_PCS]
      ,[BEGINNING_STOCK_NET_WEIGHT_KG]
      ,[BEGINNING_STOCK_GROSS_WEIGHT_KG]
      ,[BEGINNING_STOCK_DIRECT_MAT_BAHT]
      ,[BEGINNING_STOCK_INDIRECT_MAT_BAHT]
      ,[BEGINNING_STOCK_ADMIN_COST_BAHT]
      ,[BEGINNING_STOCK_AMORTIZATION_COST_BAHT]
      ,[BEGINNING_STOCK_AMOUNT_BAHT]
      ,[ENDING_STOCK_QTY_PCS]
      ,[ENDING_STOCK_NET_WEIGHT_KG]
      ,[ENDING_STOCK_GROSS_WEIGHT_KG]
      ,[ENDING_STOCK_DIRECT_MAT_BAHT]
      ,[ENDING_STOCK_INDIRECT_MAT_BAHT]
      ,[ENDING_STOCK_ADMIN_COST_BAHT]
      ,[ENDING_STOCK_AMORTIZATION_COST_BAHT]
      ,[ENDING_STOCK_AMOUNT_BAHT]
      ,[ISSUED_QTY_DIRECT_EXP]
      ,[ISSUED_QTY_EXP]
      ,[ISSUED_QTY_DOM]
      ,[ISSUED_QTY_TOTAL]
      ,[ISSUED_NET_WEIGHT_KG]
      ,[ISSUED_GROSS_WEIGHT_KG]
      ,[ISSUED_DIRECT_MAT_BAHT]
      ,[ISSUED_IMPORT_TAX_BAHT]
      ,[ISSUED_INDIRECT_MAT_BAHT]
      ,[ISSUED_ADMIN_COST_BAHT]
      ,[ISSUED_AMORTIZATION_COST_BAHT]
      ,[ISSUED_AMOUNT_BAHT]
      ,[PRODUCTION_QTY_PCS]
      ,[PRODUCTION_NET_WEIGHT_KG]
      ,[PRODUCTION_GROSS_WEIGHT_KG]
      ,[PRODUCTION_RECOVERY_WEIGHT_KG]
      ,[PRODUCTION_DIRECT_MATERIAL_COST_BAHT]
      ,[PRODUCTION_DIRECT_MATERIAL_COST_RATIO]
      ,[PRODUCTION_IMPORT_TAX_AMOUNT_THB]
      ,[PRODUCTION_INDIRECT_MATERIAL_COST_BATH]
      ,[PRODUCTION_INDIRECT_MATERIAL_COST_RATIO]
      ,[PRODUCTION_TOTAL_MATERIAL_AMOUNT_BATH]
      ,[PRODUCTION_TOTAL_MATERIAL_BAHT]
      ,[PRODUCTION_TOTAL_MATERIAL_RATIO]
      ,[PRODUCTION_AMORTIZATION_COST_AMOUNT_BAHT]
      ,[PRODUCTION_PRODUCTION_AMOUNT_BAHT]
	  ,0
	  ,'M'
		FROM @REPORT 
		ORDER BY HEADER4,HEADER1
		


END

--OUTPUT
		SELECT * FROM COSTING_INJ_PRODUCTION_ANALYSIS_PRESS
	WHERE DYEAR = @DYEAR AND DMONTH = @DMONTH AND SECTIONID = @SECTIONID 
	ORDER BY HEADER2,HEADER1,PART_NO 


-- OUTPUT FOOTER
SELECT         DYEAR, DMONTH, SECTIONID, 
SUM(WEIGHT_NET_WEIGHTG_PCS) AS WEIGHT_NET_WEIGHTG_PCS,SUM(WEIGHT_GROSS_WEIGHTG_PCS) AS  WEIGHT_GROSS_WEIGHTG_PCS,SUM(WEIGHT_RECOVERY_WEIGHTG_PCS) AS  
                         WEIGHT_RECOVERY_WEIGHTG_PCS,SUM(MATERIAL_COST_EXP_BAHT_PCS) AS  MATERIAL_COST_EXP_BAHT_PCS,SUM(MATERIAL_COST_DOM_BAHT_PCS) AS  MATERIAL_COST_DOM_BAHT_PCS,SUM(MATERIAL_COST_IMPORT_TAX_BAHT_PCS) AS  MATERIAL_COST_IMPORT_TAX_BAHT_PCS,SUM(MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS) AS  MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS,SUM(PROCESS_COST_MC_TON) AS  
                         PROCESS_COST_MC_TON,SUM(PROCESS_COST_BAHT_PCS) AS  PROCESS_COST_BAHT_PCS,SUM(ADMIN_COST_BAHT_PCS) AS  ADMIN_COST_BAHT_PCS,SUM(ADJUST_EXP_BAHT_PCS) AS  ADJUST_EXP_BAHT_PCS,SUM(ADJUST_DOM_BAHT_PCS) AS  ADJUST_DOM_BAHT_PCS,SUM(PROFIT_EXP_BAHT_PCS) AS  PROFIT_EXP_BAHT_PCS,SUM(PROFIT_DOM_BAHT_PCS) AS  PROFIT_DOM_BAHT_PCS,SUM(AMORITIZATION_COST_BAHT_PCS) AS  
                         AMORITIZATION_COST_BAHT_PCS,SUM(FACTORY_COST_EXP) AS  FACTORY_COST_EXP,SUM(FACTORY_COST_DOM) AS  FACTORY_COST_DOM,SUM(BEGINNING_STOCK_QTY_PCS) AS  BEGINNING_STOCK_QTY_PCS,SUM(BEGINNING_STOCK_NET_WEIGHT_KG) AS  BEGINNING_STOCK_NET_WEIGHT_KG,SUM(BEGINNING_STOCK_GROSS_WEIGHT_KG) AS  BEGINNING_STOCK_GROSS_WEIGHT_KG,SUM(BEGINNING_STOCK_DIRECT_MAT_BAHT) AS  
                         BEGINNING_STOCK_DIRECT_MAT_BAHT,SUM(BEGINNING_STOCK_INDIRECT_MAT_BAHT) AS  BEGINNING_STOCK_INDIRECT_MAT_BAHT,SUM(BEGINNING_STOCK_ADMIN_COST_BAHT) AS  BEGINNING_STOCK_ADMIN_COST_BAHT,SUM(BEGINNING_STOCK_AMORTIZATION_COST_BAHT) AS  BEGINNING_STOCK_AMORTIZATION_COST_BAHT,SUM(BEGINNING_STOCK_AMOUNT_BAHT) AS  BEGINNING_STOCK_AMOUNT_BAHT,SUM(ENDING_STOCK_QTY_PCS) AS  
                         ENDING_STOCK_QTY_PCS,SUM(ENDING_STOCK_NET_WEIGHT_KG) AS  ENDING_STOCK_NET_WEIGHT_KG,SUM(ENDING_STOCK_GROSS_WEIGHT_KG) AS  ENDING_STOCK_GROSS_WEIGHT_KG,SUM(ENDING_STOCK_DIRECT_MAT_BAHT) AS  ENDING_STOCK_DIRECT_MAT_BAHT,SUM(ENDING_STOCK_INDIRECT_MAT_BAHT) AS  ENDING_STOCK_INDIRECT_MAT_BAHT,SUM(ENDING_STOCK_ADMIN_COST_BAHT) AS  ENDING_STOCK_ADMIN_COST_BAHT,SUM(ENDING_STOCK_AMORTIZATION_COST_BAHT) AS  
                         ENDING_STOCK_AMORTIZATION_COST_BAHT,SUM(ENDING_STOCK_AMOUNT_BAHT) AS  ENDING_STOCK_AMOUNT_BAHT,SUM(ISSUED_QTY_DIRECT_EXP) AS  ISSUED_QTY_DIRECT_EXP,SUM(ISSUED_QTY_EXP) AS  ISSUED_QTY_EXP,SUM(ISSUED_QTY_DOM) AS  ISSUED_QTY_DOM,SUM(ISSUED_QTY_TOTAL) AS  ISSUED_QTY_TOTAL,SUM(ISSUED_NET_WEIGHT_KG) AS  ISSUED_NET_WEIGHT_KG,SUM(ISSUED_GROSS_WEIGHT_KG) AS  
                         ISSUED_GROSS_WEIGHT_KG,SUM(ISSUED_DIRECT_MAT_BAHT) AS  ISSUED_DIRECT_MAT_BAHT,SUM(ISSUED_IMPORT_TAX_BAHT) AS  ISSUED_IMPORT_TAX_BAHT,SUM(ISSUED_INDIRECT_MAT_BAHT) AS  ISSUED_INDIRECT_MAT_BAHT,SUM(ISSUED_ADMIN_COST_BAHT) AS  ISSUED_ADMIN_COST_BAHT,SUM(ISSUED_AMORTIZATION_COST_BAHT) AS  ISSUED_AMORTIZATION_COST_BAHT,SUM(ISSUED_AMOUNT_BAHT) AS  ISSUED_AMOUNT_BAHT,SUM(PRODUCTION_QTY_PCS) AS  
                         PRODUCTION_QTY_PCS,SUM(PRODUCTION_NET_WEIGHT_KG) AS  PRODUCTION_NET_WEIGHT_KG,SUM(PRODUCTION_GROSS_WEIGHT_KG) AS  PRODUCTION_GROSS_WEIGHT_KG,SUM(PRODUCTION_RECOVERY_WEIGHT_KG) AS  PRODUCTION_RECOVERY_WEIGHT_KG,SUM(PRODUCTION_DIRECT_MATERIAL_COST_BAHT) AS  PRODUCTION_DIRECT_MATERIAL_COST_BAHT,SUM(PRODUCTION_DIRECT_MATERIAL_COST_RATIO) AS  
                         PRODUCTION_DIRECT_MATERIAL_COST_RATIO,SUM(PRODUCTION_IMPORT_TAX_AMOUNT_THB) AS  PRODUCTION_IMPORT_TAX_AMOUNT_THB,SUM(PRODUCTION_INDIRECT_MATERIAL_COST_BATH) AS  PRODUCTION_INDIRECT_MATERIAL_COST_BATH,SUM(PRODUCTION_INDIRECT_MATERIAL_COST_RATIO) AS  PRODUCTION_INDIRECT_MATERIAL_COST_RATIO,SUM(PRODUCTION_TOTAL_MATERIAL_AMOUNT_BATH) AS  
                         PRODUCTION_TOTAL_MATERIAL_AMOUNT_BATH,SUM(PRODUCTION_TOTAL_MATERIAL_BAHT) AS  PRODUCTION_TOTAL_MATERIAL_BAHT,SUM(PRODUCTION_TOTAL_MATERIAL_RATIO) AS  PRODUCTION_TOTAL_MATERIAL_RATIO,SUM(PRODUCTION_AMORTIZATION_COST_AMOUNT_BAHT) AS  PRODUCTION_AMORTIZATION_COST_AMOUNT_BAHT,SUM(PRODUCTION_PRODUCTION_AMOUNT_BAHT) AS  
                         PRODUCTION_PRODUCTION_AMOUNT_BAHT 
FROM COSTING_INJ_PRODUCTION_ANALYSIS_PRESS
WHERE DYEAR = @DYEAR AND DMONTH = @DMONTH AND SECTIONID = @SECTIONID
GROUP BY DYEAR, DMONTH, SECTIONID

END

 
--	---========= Update Ending Stock ====================
--	UPDATE @Report
--	SET ENDING_STOCK_QTY_PCS = dbo.fn_GetINJ_DYN_TOTAL(DYEAR,DMONTH,SECTIONID,PART_NO)
--	---=========End Update Ending Stock ====================
--	--========= Update ยอด Issue =================================
--		Update @Report
--		set ISSUED_QTY_DIRECT_EXP = dbo.fn_GetINJ_SHIPPING_ISSUE (DYEAR,DMONTH,PART_NO,'DX') -- DX = DIRECT EXPORT
--			,ISSUED_QTY_EXP = dbo.fn_GetINJ_SHIPPING_ISSUE (DYEAR,DMONTH,PART_NO,'TX')--TAP EXPORT
--			,ISSUED_QTY_DOM = dbo.fn_GetINJ_SHIPPING_ISSUE (DYEAR,DMONTH,PART_NO,'D')--DOMESTIC
--		WHERE HEADER2 = 'F'
			
--		Update @Report
--		set ISSUED_QTY_TOTAL = ISSUED_QTY_DIRECT_EXP + ISSUED_QTY_EXP +ISSUED_QTY_DOM
		
	 
--	--	--==========  Calculate Issue Column =====================
--	--	UPDATE @Report
--	--	SET ISSUED_NETWG_KG  = ISSUED_QTY_TOTAL * ISNULL(NETWG_gPCS,0) / 1000
--	--		,ISSUED_GROSSWG_KG   = ISSUED_QTY_TOTAL * ISNULL(GROSSWG_gPCS,0)  / 1000
  
--	--		,ISSUED_MATCOST  = ((ISSUED_QTY_DIRECT_EXP + ISSUED_QTY_EXP)  * BAHT_MATERIAL_COST_EXP_BahtPCS) + (ISSUED_QTY_DOM * BAHT_MATERIAL_COST_DOM_BahtPCS )
--	--		,ISSUED_INDMAT_COST   = ISSUED_QTY_TOTAL * BAHT_MATERIAL_COST_INDIRECT_MATERIAL
--	--		,ISSUED_PROCESS_COST  = ISSUED_QTY_TOTAL * BAHT_PROCESS_COST 
--	--		--,ISSUED_SCRAP  = ((ISSUED_QTY_DIRECT_EXP + ISSUED_QTY_EXP) * ISNULL(PCS_SCRAP_EXP,0) ) + (ISNULL(ISSUED_QTY_DOM,0) * ISNULL(PCS_SCRAP_DOM,0) )
--	--		,ISSUED_IMPTAX  = ISSUED_QTY_DOM * BAHT_MATERIAL_COST_IMPORT_TAX 
--	--		,ISSUED_ADM_COST   = ((ISSUED_QTY_DIRECT_EXP + ISSUED_QTY_EXP) * BAHT_ADJUST_EXP ) + (ISNULL(ISSUED_QTY_DOM,0) * ISNULL(BAHT_ADJUST_DOM,0) )
--	--		,ISSUED_PROFIT_AMOUNT = ((ISSUED_QTY_DIRECT_EXP + ISSUED_QTY_EXP) * ISNULL(BAHT_PROFIT_EXP,0) ) + ( ISSUED_QTY_DOM  * ISNULL(BAHT_PROFIT_DOM ,0))
--	--		,ISSUED_AMORTILIZATION_AMOUNT  =  ISSUED_QTY_TOTAL * ISNULL(BAHT_AMORTILIZATION ,0)
--	--		,ISSUED_AMOUNT = ((Isnull(ISSUED_QTY_DIRECT_EXP,0) + Isnull(ISSUED_QTY_EXP,0))  * BAHT_FC_EXP) + (ISNULL(ISSUED_QTY_DOM,0) * ISNULL(BAHT_FC_DOM,0)) 
--	--	--==========End Calculate Issue Column =====================
		
--	--	--==========  Calculate Production Column =====================
--	--UPDATE @Report
--	--SET PRODUCTION_QTY  = ISNULL(ISSUED_QTY_TOTAL,0) + ISNULL(ENDING_STOCK_QTY_PCS,0) - ISNULL(BEGIN_STOCK_QTY_PCS,0)
--	--,PRODUCTION_NETWG  = ISNULL(ISSUED_NETWG_KG,0) + ISNULL(ENDING_STOCK_NETWG_KG,0) - ISNULL(BEGIN_STOCK_NETWG_KG,0) 
--	--,PRODUCTION_GROSS_WG  = ISNULL(ISSUED_GROSSWG_KG,0) + ISNULL(ENDING_STOCK_GROSSWG_KG,0) - ISNULL(BEGIN_STOCK_GROSSWG_KG ,0)
--	--,PRODUCTION_DIRECT_MATERIAL_AMOUNT  = ISNULL(ISSUED_MATCOST,0) + ISNULL(ENDING_STOCK_MATCOST,0) - ISNULL(BEGIN_STOCK_FC_AMOUNT_MATCOST,0)
--	----,PRODUCTION_DIRECT_MATERIAL_AMOUNT_PROCESS  = ISNULL(ISSUED_PROCESS_COST,0) + ISNULL(ENDING_STOCK_PROCESS,0) - ISNULL(BEGIN_STOCK_FC_AMOUNT_PROCESS_COST,0)
--	--,PRODUCTION_INDIRECT_MATERIAL_AMOUNT  = ISNULL(ISSUED_INDMAT_COST,0) + ISNULL(ENDING_STOCK_INDIRECTMAT,0) - ISNULL(BEGIN_STOCK_FC_AMOUNT_INDMAT_COST,0)
	 
--	--,PRODUCTION_PROFIT_AMOUNT  = ISNULL(ISSUED_PROFIT_AMOUNT,0) + ISNULL(ENDING_STOCK_PROFIT,0) - ISNULL(BEGIN_STOCK_FC_AMOUNT_PROFIT,0)
--	--,PRODUCTION_AMORTILIZATION_COST   = ISNULL(ISSUED_AMORTILIZATION_AMOUNT,0) + ISNULL(ENDING_STOCK_AMORTILIZATION,0) - ISNULL(BEGIN_STOCK_FC_AMOUNT_AMORTILIZATION,0)
--	--,PRODUCTION_AMOUNT  = ISNULL(ISSUED_AMOUNT,0) + ISNULL(ENDING_STOCK_FC_AMOUNT,0) - ISNULL(BEGIN_STOCK_FC_AMOUNT,0) 
--	--,PRODUCTION_PROCESS_COST = 	ISNULL(ISSUED_PROCESS_COST,0) + ISNULL(ENDING_STOCK_PROCESS,0) - ISNULL(BEGIN_STOCK_FC_AMOUNT_PROCESS_COST,0)
--	--,PRODUCTION_ADM_AMOUNT = 	ISNULL(ISSUED_ADM_COST,0) + ISNULL(ENDING_STOCK_ADMIN,0) - ISNULL(BEGIN_STOCK_FC_AMOUNT_ADM_COST,0)
--	--,PRODUCTION_ADJUSTMENT_AMOUNT = ISSUED_ADJUSTMENT_AMOUNT + ENDING_STOCK_ADJUSTMENT - BEGIN_STOCK_FC_AMOUNT_ADJUSTMENT
		
--	--	--==========End Calculate Production Column =====================
		
--		--========== Calculate Begining Column =====================
		
		
		
--		--==========End Calculate Begining Column =====================
		
--	--	---=========Update 1.1 =====================
--	--	--PRODUCTION_DIRECT_MATERIAL_MAT_RATIO  = PRODUCTION_DIRECT_MATERIAL_MAT /  CASE PRODUCTION_AMOUNT WHEN 0 THEN 1 ELSE PRODUCTION_AMOUNT END * 100  
--	--UPDATE @Report
--	--SET PRODUCTION_TOTAL_MATERIAL_RATIO  = PRODUCTION_DIRECT_MATERIAL_AMOUNT /  CASE PRODUCTION_AMOUNT WHEN 0 THEN 1 ELSE PRODUCTION_AMOUNT END * 100  
--	--	--,PRODUCTION_DIRECT_MATERIAL_SCRAP_RATIO  = PRODUCTION_DIRECT_MATERIAL_SCRAP /  CASE PRODUCTION_AMOUNT WHEN 0 THEN 1 ELSE PRODUCTION_AMOUNT END * 100	
--	--	,PRODUCTION_INDIRECT_MATERIAL_RATIO  =PRODUCTION_INDIRECT_MATERIAL_AMOUNT /  CASE PRODUCTION_AMOUNT WHEN 0 THEN 1 ELSE PRODUCTION_AMOUNT END * 100	
--	--	,PRODUCTION_TOTAL_MATERIAL_BAHT  = PRODUCTION_DIRECT_MATERIAL_AMOUNT +  PRODUCTION_INDIRECT_MATERIAL_AMOUNT
		
--	--	---=========Update 1.2=====================
--	--UPDATE @Report
--	--SET PRODUCTION_TOTAL_MATERIAL_BAHTKG = PRODUCTION_TOTAL_MATERIAL_BAHT / CASE PRODUCTION_NETWG WHEN 0 THEN 1 ELSE  PRODUCTION_NETWG END
--	--,PRODUCTION_TOTAL_MATERIAL_RATIO = PRODUCTION_TOTAL_MATERIAL_BAHT / CASE PRODUCTION_AMOUNT WHEN 0 THEN 1 ELSE PRODUCTION_AMOUNT END * 100

--	--	--====== End of Update Data ===============
--		--======== update Header =================
--		-- PRESS ใช้แค่ header 1, 2
--		--Update @Report
--		--set HEADER1 = [dbo].[fn_GetINJ_COSTING_ProductionAnalysis_Header1] (DYear,DMonth,SectionId,PART_NO)
--		--	,HEADER2 = [dbo].[fn_GetINJ_COSTING_ProductionAnalysis_Header1] (DYear,DMonth,SectionId,PART_NO)	
--		--	,HEADER3 = [dbo].[fn_GetINJ_COSTING_ProductionAnalysis_Header1] (DYear,DMonth,SectionId,PART_NO)		
		
--		Update @Report
--		--set HEADER2 = [dbo].[fn_GetINJ_COSTING_ProductionAnalysis_Header4] (DYear,DMonth,SectionId,PART_NO)
--		SET HEADER2 = (SELECT CASE  WHEN HEADER2 = 'W' THEN '1. WORK IN PROCESS'
--							ELSE '2. FINISH GOODS'
--							END)
		
--		--======== End update Header =================
		
--		--====== 2.1 INSERT STOCK IN TRANSIT DATA ========================
--		INSERT INTO @Report (SECTIONID,DYEAR,DMONTH,HEADER3,HEADER2,HEADER1)
--		VALUES (@SECTIONID , @DYEAR ,@DMONTH ,'3. STOCK INTRANSIT','STOCK INTRANSIT','STOCK INTRANSIT')
--		---- UPDATE ENDING STOCK INTRANSIT
--		UPDATE @Report
--		SET ENDING_STOCK_QTY_PCS = dbo.fn_GetINJ_COSTING_STOCKINTRANSIT_THISSTOCK(DYEAR,DMONTH,SECTIONID,'Q')
--		,ENDING_STOCK_FC_AMOUNT  = dbo.fn_GetINJ_COSTING_STOCKINTRANSIT_THISSTOCK(DYEAR,DMONTH,SECTIONID,'A')
--		WHERE HEADER1 LIKE '%STOCK INTRANSIT%'	
		
--		--====== END 2.1 INSERT STOCK IN TRANSIT DATA ========================
--		---=======  2.2 UPDATE STOCK INTRANSIT BEGINNING ============
--		UPDATE @Report
--		SET BEGIN_STOCK_QTY_PCS = dbo.fn_GetINJ_COSTING_STOCKINTRANSIT_Begining (DYEAR,DMONTH,SECTIONID,'Q')  -- Q = QTY
--		,BEGIN_STOCK_FC_AMOUNT = dbo.fn_GetINJ_COSTING_STOCKINTRANSIT_Begining (DYEAR,DMONTH,SECTIONID,'A') -- A = AMOUNT
--		WHERE HEADER1 LIKE '%STOCK INTRANSIT%'
		
--		---=======  2.3 UPDATE STOCK INTRANSIT ISSUE ============
--		UPDATE @Report
--		SET ISSUED_QTY_TOTAL = BEGIN_STOCK_QTY_PCS - ENDING_STOCK_QTY_PCS
--		WHERE HEADER1 LIKE '%STOCK INTRANSIT%'
		
--		--======= 3.1 UPDATE HEADER2 ให้เป็นกลุ่มเดียวกัน ยกเว้น Stock in transit =================
--		update @Report
--		set HEADER2 = '1. (Exclude Intransit)'
--		WHERE HEADER1 NOT LIKE '%STOCK INTRANSIT%'
		
--		--======= 3.2 Update Header1 ให้ order ตามที่ User กำหนด ========
--		Update @Report
--		SET HEADER1 = (SELECT CASE  
--				WHEN HEADER1 LIKE '%WORK%' THEN '1. ' + HEADER1
--				WHEN HEADER1 LIKE '%FINISH%' THEN '2. ' + HEADER1
--				WHEN HEADER1 LIKE '%HOLD%' THEN '3. ' + HEADER1 --**NEW 8/DEC/2012
--				WHEN HEADER1 LIKE '%นอกระบบ%' THEN '4. ' + HEADER1 --**NEW 8/DEC/2012
--				ELSE HEADER1 
--				END)
--		--select * from @Report
----return




--	END -- END OF IF @Approve = 0 OR @Approve IS NULL
--	--ELSE -- ELSE OF IF @APPROVE
--	--	PRINT ('ALREADY APPROVE')
--	----------------- End of If Approve --------------------
	
--	--IF @LEVEL = 0
--		SELECT * FROM COSTING_INJ_PRODUCTION_ANALYSIS_PRESS
--	WHERE DYEAR = @DYEAR AND DMONTH = @DMONTH AND SECTIONID = @SECTIONID 
--	ORDER BY HEADER2,HEADER1,PART_NO 

--	--ELSE IF @LEVEL = 1
--		SELECT * FROM COSTING_INJ_PRODUCTION_ANALYSIS_PRESS
--		WHERE DYEAR = @DYEAR AND DMONTH = @DMONTH AND SECTIONID = @SECTIONID AND HEADER2 = '1. (Exclude Intransit)'
--		ORDER BY HEADER4,HEADER3,HEADER2,HEADER1,PART_NO 
--	--ELSE IF @LEVEL = 2
--		SELECT * FROM COSTING_INJ_PRODUCTION_ANALYSIS_PRESS
--	WHERE DYEAR = @DYEAR AND DMONTH = @DMONTH AND SECTIONID = @SECTIONID AND HEADER2 <> '1. (Exclude Intransit)'
--	ORDER BY HEADER4,HEADER3,HEADER2,HEADER1,PART_NO 
--	--ELSE IF @LEVEL = 3
--		SELECT SUM([BEGIN_STOCK_QTY_PCS]) AS [BEGIN_STOCK_QTY_PCS]
--      ,SUM([BEGIN_STOCK_NETWG_KG]) AS [BEGIN_STOCK_NETWG_KG]
--      ,SUM([BEGIN_STOCK_GROSSWG_KG]) AS [BEGIN_STOCK_GROSSWG_KG]
--      ,SUM([BEGIN_STOCK_MATERIAL_COST_DIRECT_MATERIAL_BAHT_PCS]) AS [BEGIN_STOCK_MATERIAL_COST_DIRECT_MATERIAL_BAHT_PCS]
--      ,SUM([BEGIN_STOCK_MATERIAL_COST_IMPORT_TAX_BAHT_PCS]) AS [BEGIN_STOCK_MATERIAL_COST_IMPORT_TAX_BAHT_PCS]
--      ,SUM([BEGIN_STOCK_MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS]) AS [BEGIN_STOCK_MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS]
--      ,SUM([BEGIN_STOCK_ADM_KG]) AS [BEGIN_STOCK_ADM_KG]
--      ,SUM([BEGIN_STOCK_AMORTI_KG]) AS [BEGIN_STOCK_AMORTI_KG]
--      ,SUM([BEGIN_STOCK_FC_AMOUNT]) AS [BEGIN_STOCK_FC_AMOUNT]
--      ,SUM([ENDING_STOCK_QTY_PCS]) AS [ENDING_STOCK_QTY_PCS]
--      ,SUM([ENDING_STOCK_NETWG_KG]) AS [ENDING_STOCK_NETWG_KG]
--      ,SUM([ENDING_STOCK_GROSSWG_KG]) AS [ENDING_STOCK_GROSSWG_KG]
--      ,SUM([ENDING_STOCK_CUSTOM_KG]) AS [ENDING_STOCK_CUSTOM_KG]
--      ,SUM([ENDING_STOCK_MATERIAL_COST_DIRECT_MATERIAL_BAHT]) AS [ENDING_STOCK_MATERIAL_COST_DIRECT_MATERIAL_BAHT]
--      ,SUM([ENDING_STOCK_MATERIAL_COST_IMPORT_TAX_BAHT_PCS]) AS [ENDING_STOCK_MATERIAL_COST_IMPORT_TAX_BAHT_PCS]
--      ,SUM([ENDING_STOCK_MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS]) AS [ENDING_STOCK_MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS]
--      ,SUM([ENDING_STOCK_ADM_KG]) AS [ENDING_STOCK_ADM_KG]
--      ,SUM([ENDING_STOCK_AMORTI_KG]) AS [ENDING_STOCK_AMORTI_KG]
--      ,SUM([ENDING_STOCK_FC_AMOUNT]) AS [ENDING_STOCK_FC_AMOUNT]
--      ,SUM([ISSUED_QTY_DIRECT_EXP]) AS [ISSUED_QTY_DIRECT_EXP]
--      ,SUM([ISSUED_QTY_EXP]) AS [ISSUED_QTY_EXP]
--      ,SUM([ISSUED_QTY_DOM]) AS [ISSUED_QTY_DOM]
--      ,SUM([ISSUED_QTY_TOTAL]) AS [ISSUED_QTY_TOTAL]
--      ,SUM([ISSUED_NETWG_KG]) AS [ISSUED_NETWG_KG]
--      ,SUM([ISSUED_GROSSWG_KG]) AS [ISSUED_GROSSWG_KG]
--      ,SUM([ISSUED_MATERIAL_COST_DIRECT_MATERIAL_BAHT]) AS [ISSUED_MATERIAL_COST_DIRECT_MATERIAL_BAHT]
--      ,SUM([ISSUED_MATERIAL_COST_IMPORT_TAX_BAHT_PCS]) AS [ISSUED_MATERIAL_COST_IMPORT_TAX_BAHT_PCS]
--      ,SUM([ISSUED_MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS]) AS [ISSUED_MATERIAL_COST_INDIRECT_MATERIAL_BAHT_PCS]
--      ,SUM([ISSUED_ADM_KG]) AS [ISSUED_ADM_KG]
--      ,SUM([ISSUED_AMORTI_KG]) AS [ISSUED_AMORTI_KG]
--      ,SUM([ISSUED_FC_AMOUNT]) AS [ISSUED_FC_AMOUNT]
--      ,SUM([PRODUCTION_QTY_PCS]) AS [PRODUCTION_QTY_PCS]
--      ,SUM([PRODUCTION_NETWG_KG]) AS [PRODUCTION_NETWG_KG]
--      ,SUM([PRODUCTION_GROSSWG_KG]) AS [PRODUCTION_GROSSWG_KG]
--      ,SUM([PRODUCTION_RECOVERYWG_KG]) AS [PRODUCTION_RECOVERYWG_KG]
--      ,SUM([PRODUCTION_DIRECT_MATERIAL_COST_BAHT]) AS [PRODUCTION_DIRECT_MATERIAL_COST_BAHT]
--      ,SUM([PRODUCTION_DIRECT_MATERIAL_COST_RATIO]) AS [PRODUCTION_DIRECT_MATERIAL_COST_RATIO]
--      ,SUM([PRODUCTION_IMPORT_TAX_AMOUNT_THB]) AS [PRODUCTION_IMPORT_TAX_AMOUNT_THB]
--      ,SUM([PRODUCTION_INDIRECT_MATERIAL_COST_BATH]) AS [PRODUCTION_INDIRECT_MATERIAL_COST_BATH]
--      ,SUM([PRODUCTION_INDIRECT_MATERIAL_COST_RATIO]) AS [PRODUCTION_INDIRECT_MATERIAL_COST_RATIO]
--      ,SUM([PRODUCTION_TOTAL_MATERIAL_AMOUNT_THB]) AS [PRODUCTION_TOTAL_MATERIAL_AMOUNT_THB]
--      ,SUM([PRODUCTION_TOTAL_MATERIAL_BAHT_KG]) AS [PRODUCTION_TOTAL_MATERIAL_BAHT_KG]
--      ,SUM([PRODUCTION_TOTAL_MATERIAL_RATIO]) AS [PRODUCTION_TOTAL_MATERIAL_RATIO]
--      ,SUM([PRODUCTION_AMORTIZATION_COST_AMOUNT_THB]) AS [PRODUCTION_AMORTIZATION_COST_AMOUNT_THB]
--      ,SUM([PRODUCTION_PROD_AMOUNT_THB]) AS [PRODUCTION_PROD_AMOUNT_THB]
--      ,SUM([PRODUCTION_RECOVERY_WEIGHT_AFTER_GOURIKA_PCS]) AS [PRODUCTION_RECOVERY_WEIGHT_AFTER_GOURIKA_PCS]
--      ,SUM([PRODUCTION_RECOVERY_WEIGHT_AFTER_GOURIKA_KG]) AS [PRODUCTION_RECOVERY_WEIGHT_AFTER_GOURIKA_KG]
--      ,SUM([PRODUCTION_MATERIAL_PRICE_BAHT_KG]) AS [PRODUCTION_MATERIAL_PRICE_BAHT_KG]
--      ,SUM([PRODUCTION_MATERIAL_PRICE_AMOUNT]) AS [PRODUCTION_MATERIAL_PRICE_AMOUNT]
--FROM dbo.COSTING_INJ_PRODUCTION_ANALYSIS_PRESS
--WHERE DYEAR = @DYEAR AND DMONTH = @DMONTH AND SECTIONID = @SECTIONID
--GROUP BY DYEAR, DMONTH, SECTIONID

--------- SHOW MSG สำหรับ Part No ที่ไม่มีใน Price List ของ Costing **NEW 8/DEC/2012---------
--	DECLARE @PARTNOLIST VARCHAR(MAX) 
--			,@FGLIST VARCHAR(MAX)
--			,@ERRMSG_WIP VARCHAR(500) = 'ไม่พบ Part เหล่านี้ใน Master Price List (WIP) : '
--			,@ERRMSG_FG VARCHAR(500) = 'ไม่พบ Part เหล่านี้ใน Master Price List (FG) : '
	
--	-- WIP
--	SELECT @PARTNOLIST = CASE 
--		WHEN @PARTNOLIST IS NULL THEN   [PART NO./KIND]  
--		ELSE    @PARTNOLIST  + ',' + [PART NO./KIND] 
--		END
--	from DYN_INJECTION_PRESS 
--	where [DYEAR] = @DYEAR AND [DMONTH] = @DMONTH AND [PART NO./KIND] not in 
--	(select part_no
--	 from INJ_MST_WIP_PRICE_PRESS
--	where DMONTH = @DMONTH  and DYEAR = @DYEAR)
	
--	--FG 
--	SELECT @FGLIST  = CASE 
--		WHEN @FGLIST IS NULL THEN  PART_NO  
--		ELSE    @FGLIST  + ',' + PART_NO 
--		END
--	FROM INJ_SHIPPING_MONTHLY_FG_CHECK_STOCK S INNER JOIN INJ_MST_SHIPPING_PARTNO M
--	ON S.PART_NO = M.PARTNO 
--	WHERE DYEAR = @DYEAR AND DMONTH = @DMONTH AND FGTYPEID = @FGTYPEID
--	AND PART_NO NOT IN
--		(SELECT part_no 
--		FROM INJ_MST_WIP_PRICE_PRESS  
--		WHERE DYEAR = @DYEAR and DMONTH = @DMONTH  AND PART_TYPE = 'F')
--	GROUP BY S.PART_NO,FGTYPEID 

--	IF LEN(@PARTNOlIST) > 0 AND  LEN(@FGLIST) > 0
--		SELECT @PARTNOlIST = @ERRMSG_WIP + @PARTNOLIST + @ERRMSG_FG + @FGLIST
--	IF LEN(@PARTNOlIST) > 0 AND  LEN(@FGLIST) = 0
--		SELECT @PARTNOlIST = @ERRMSG_WIP + @PARTNOLIST 
--	IF LEN(@PARTNOlIST) = 0 AND  LEN(@FGLIST) > 0
--		SELECT @PARTNOlIST = @ERRMSG_FG + @FGLIST
	
--	SELECT @PARTNOlIST

--END

